@mixin vertical-center {
  top: 50%;
  transform: translate(0, -50%);
}

@mixin horizontal-center {
  left: 50%;
  transform: translate(-50%, 0);
}

@mixin full-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin responsive-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

@mixin background-image($image) {
  background-image: url("$image");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
