
@import "partials/_reset.scss";

@import "modules/_mixins.scss";
@import "modules/_variables.scss";

@import "partials/_typography";

html {
  height: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
  background-color: $white;
  color: $black;
  font-weight: 300;
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

a {
  text-decoration: none;
  color: $black;
  cursor: pointer;
  transition: border-bottom .4s;
}

.expand {
  transition: transform .5s ease-in;
  &:hover {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
  }
  &:visited {
    text-decoration: none;
  }
}

.scroll {
}

.container {
  margin: 0 auto;
}

.bold {
  font-weight: 400;
}

.bolder {
  font-weight: 600;
}

@import "partials/_landing.scss";
@import "partials/_project.scss";
@import "partials/_about.scss";
@import "partials/_app-designs.scss";
@import "partials/_footer.scss";
