// @import "libraries/bourbon/bourbon.scss";
// @import "libraries/neat/neat.scss";

@import "partials/_reset.scss";

@import "modules/_mixins.scss";
@import "modules/_variables.scss";

@import "partials/_typography";

body {
  box-sizing: border-box;
  background-color: $white;
  color: $black;
  &::-webkit-scrollbar {
    display: none;
  }
  font-weight: 300;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black;
  transition: transform .2s ease-in-out;
}

.expand {
  &:hover {
    -webkit-transform: scale(1.06);
    -ms-transform: scale(1.06);
    transform: scale(1.06);
    color: black;
  }
  &:visited {
    text-decoration: none;
  }
}

.container {
  margin: 0 auto;
}

.static-elements {
  display: none;
}

.bold {
  font-weight: 400;
}

.bolder {
  font-weight: 600;
}

@import "partials/_landing.scss";
@import "partials/_project.scss";
@import "partials/_about.scss";
