.header {
  position: relative;
  margin: 0;
  height: 3.5em;
  width: 100%;
  text-align: center;
  color: white;
  background: $background-color;
  &:before{
    content: '';
    @include position(absolute, 0 0 0 0);
    background-image: none;
    opacity: .5;
  }
  h1 {
    position: relative;
    z-index: 1;
    font-size: 1.5em;
    margin: 0 auto;
  }
  h4 {
    position: relative;
    z-index: 1;
    margin: 0 auto;
  }
}
