.about-wrapper {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
  background-color: white;
  // opacity: 0;
  .about {
    margin: 60px;
    color: black;
    @include filter-position;
    img {
      position: absolute;
      height: 100%;
      @include full-center;
    }
    h3 {
      font-size: 2em;
      line-height: 2em;
      &:hover + .hide {
        display: block !important;
      }
    }
  }
}


#pie-chart {
  height: 400px;
}
