.about-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  -webkit-transform: translateZ(0);
  overflow-x: hidden;
}

.about {
  position: absolute;
  @include full-center;
  width: 1100px;
  color: #000000;
}

.about-left {
  float: left;
  margin-left: 70px;
  margin-right: 100px;
  h3 {
    margin: 0;
    text-align: justify;
  }
  img {
    height: 100%;
    width: auto;
  }
}

.about-right {
  position: relative;
  float: left;
  height: 100%;
  width: 550px;
  margin-top: 1.5em;
  overflow: visible;
  h4 {
    line-height: normal;
    font-size: 28pt;
    margin-bottom: 1.2em;
  }
  h5 {
    font-size: 18pt;
    text-align: right;
    margin-right: 10px;
  }
  .message-me {
    position: absolute;
    right: 200px;
    bottom: -40px;
    height: 60px;
    width: 170px;
    border: 2px solid #D89962;
    border-radius: 5px;
    font-size: 1.5em;
    line-height: 60px;
    text-align: center;
  }
  .about-detail {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    img {
      position: absolute;;
      height: 100%;
      @include vertical-center;
    }
  }
}

.pdx-rider {
  position: absolute;
  bottom: 10vh;
  right: -65px;
  -webkit-transition: transform 3s linear;
  transition: transform 3s linear;
}

.ride {
  transform: translateX(-150vw);
}

@media screen and (max-width: 1500px) {
  .about {
    width: 1000px;
  }
  .about-left {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
    margin-right: 75px;
  }
  .about-right {
    margin-top: 50px;
    width: 440px;
    h4 {
      font-size: 23pt;
    }
  }
}

@media screen and (max-width: 1200px) {
  .about {
    width: 950px;
  }
  .about-left {
    -webkit-transform: scale(.8);
    -ms-transform: scale(.8);
    transform: scale(.8);
    margin-right: 70px;
  }
  .about-right {
    margin-top: 70px;
    width: 400px;
    h4 {
      font-size: 20pt;
    }
  }
}

@media screen and (max-width: 800px) {
  .about-wrapper {
    height: 1100px;
  }
  .about {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 30px;
    width: 350px;
  }
  .about-left {
    float: none;
    position: relative;
    top: 50px;
    left: 25px;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    margin: 0 auto;
  }
  .about-right {
    float: none;
    position: relative;
    top: 20px;
    left: 25px;
    width: 330px;
    h4 {
      font-size: 20pt;
    }
    h5 {
      display: none;
    }
  }
}

@media screen and (max-width: 350px) {
  .about {
    width: 100vw;
  }
  .about-left, .about-right {
    left: 5px;
    width: 100vw;
  }
  .down-arrow {
    display: none;
  }
}


#hey-im-ethan {
  line-height: 4.5em;
  cursor:  pointer;
}
#web-developer {
  line-height: 3.2em;
  cursor:  pointer;
}
#portland-or {
  line-height: 2.8em;
  cursor: pointer;
}
#web {
  font-size: 58pt;
}
#pdx {
  font-size: 32pt;
}
.font-xl {
  font-size: 80pt;
}
.font-lg {
  font-size: 64pt;
}
.font-med {
  font-size: 50pt;
}
.font-sm {
  font-size: 36pt;
}
.font-xs {
  font-size: 26pt;
}
