.app-designs {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  -webkit-transform: translateZ(0);
  h1 {
    font-weight: 400;
    margin: 2px;
  }
  h3 {

  }
}

.apps-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #222222;
  h1 {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 10px 0;
    color: white;
  }
  h3 {
    position: absolute;
    top: 90px;
    right: 5px;
    margin: 10px 0;
    color: white;
  }
}

.apps-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  h1 {
    position: absolute;
    top: 20px;
    left: 0;
    margin: 10px 0;
  }
  h3 {
    position: absolute;
    top: 90px;
    left: 3px;
    margin: 10px 0;
  }
}

.design-wrapper {
  position: absolute;
  @include full-center;
  top: 55%;
  height: 500px;
  width: 250px;
  img.phone-frame {
    height: 100%;
    width: 100%;
  }
  .screens-wrapper {
    position: absolute;
    top: 45px;
    left: 10px;
    right: 10px;
    bottom: 60px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: none;
      &:first-child {
        display: block;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.screens-wrapper {
  // -webkit-filter: grayscale(.8);
  // filter: grayscale(.8);
  transition: filter .3s;
  &:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
}

@media screen and (max-width: 800px) {
  .app-designs {
    height: 200vh;
  }
  .apps-left {
    position: relative;
    height: 50%;
    width: 100%;
    h1 {
      display: none;
    }
    h3 {
      display: none;
    }
    .design-wrapper {
      top: 50%;
    }
  }
  .apps-right {
    position: relative;
    height: 50%;
    width: 100%;
    h1 {
      position: relative;
      display: block;
      text-align: center;
      top: 0;
      margin: 25px auto;
    }
    h1 span.hide {
      display: inline-block;
    }
    h3 {
      position: relative;
      display: block;
      text-align: center;
      top: 0;
      margin: 25px auto;
    }
    h3 span.hide {
      display: inline-block;
    }
    .design-wrapper {
      top: 55%;
    }
  }
}

@media screen and (max-width: 350px) {
  .apps-right h1 {
    font-size: 28pt;
  }
}

@media screen and (max-height: 650px) {
  .design-wrapper {
    height: 400px;
    width: 200px;
  }
}

@media screen and (max-height: 600px) {
  .app-designs .apps-right h1, .app-designs .apps-left h1 {
    font-size: 24pt;
    margin: 20px auto;
  }
  .app-designs .apps-right h3,  .app-designs .apps-left h3 {
    font-size: 12pt;
    margin: 0 auto;
  }
}

@media screen and (max-height: 480px) {
  .design-wrapper {
    height: 300px;
    width: 150px;
  }
}
