.app-designs {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffffff;
  -webkit-transform: translateZ(0);
  h1 {
    font-weight: 400;
    margin: 2px;
  }
}

.apps-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #222222;
  h1 {
    position: absolute;
    top: 50px;
    right: 0;
    color: white;
  }
}

.apps-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  h1 {
    position: absolute;
    top: 50px;
    left: 0;
  }
}

.design-wrapper {
  position: absolute;
  @include full-center;
  height: 400px;
  width: 192px;
  img.phone-frame {
    height: 100%;
    width: 100%;
  }
  .screens-wrapper {
    position: absolute;
    top: 40px;
    left: 10px;
    right: 10px;
    bottom: 50px;
    img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }
  }
}
