.footer {
  position: relative;
  height: 100vh;
  width: 100%;
  -webkit-transform: translateZ(0);
  a {
    border-bottom: 1px solid transparent;
  }
  a:hover {
    border-bottom: 1px solid black;
  }
}

.footer-left {
  position: absolute;
  left: 0;
  height: 100%;
  width: 50%;
  background-color: #ffffff;
  .contact-text {
    position: absolute;
    @include full-center;
    padding-bottom: 50px;
    width: 80%;
    h5 {
      font-size: 24pt;
      margin: 30px 0;
    }
    h6 {
      font-size: 16pt;
      margin: 30px 0;
      &.footer-link {
        display: inline-block;
        margin-top: 5px;
        margin-right: 60px;
      }
    }
    p {
      font-size: 14pt;
      margin: 10px 0;
      line-height: 1.5em;
      &:nth-child(4) {
        margin-right: 65px;
      }
    }
  }
  img {
    position: absolute;
    bottom: 30px;
    right: 40px;
    height: 40px;
  }
}

.footer-center {
  position: absolute;
  @include full-center;
  top: 50%;
  z-index: 1;
  img {
    height: 200px;
  }
}

.footer-right {
  position: absolute;
  right: 0;
  height: 100%;
  width: 50%;
  background-color: #c99a8d;
  h1 {
    position: absolute;
    @include full-center;
    color: white;
    text-align: center;
    font-size: 54pt;
    margin-left: 20px;
    margin-top: -2px;
  }
}

.credits {
  margin-top: 60px;
  h4 {
    font-size: 11pt;
    color: #c99a8d;
    margin-top: 10px;
    a {
      color: #a5857d;
      &:hover {
        border-bottom: 1px solid transparent;
        color: #564642;
      }
    }
  }
}

@media screen {
  .footer {
    height: auto;
  }
  .footer-left, .footer-right {
    position: relative;
    width: 100%;
  }
  .footer-right {
    height: 250px;
    h1 {
      position: relative;
      display: block;
      margin: 0 auto;
      padding-top: 40px;
      @include reset-position;
    }
  }
  .footer-left {
    height: auto;
    .contact-text {
      position: relative;
      @include reset-position;
      width: 85%;
      max-width: 1000px;
      margin: 0 auto;
      margin-top: 110px;
      p:nth-child(4){
        margin-right: auto;
      }
    }
  }
  .footer-center {
    position: absolute;
    @include horizontal-center;
    top: 150px;
  }
}
