.show {
  display: block;
}

.hide {
  display: none;
}

.landing {
  height: 100vh;
  width: 100%;
  @include background-image("../img/about-imagine.jpg");
  background-attachment: fixed;
  -webkit-transform: translateZ(0);
  -webkit-filter: grayscale(1);
  filter:grayscale(1);
  &::before {
    @include filter-position;
    background: linear-gradient(to bottom, #dddddd, black);
    opacity: .6;
  }
}

.nav {
  position: relative;
  ul {
    list-style: none;
    li {
      float: left;
      padding: 20px 30px;
      a {
        display: inline-block;
        transition: color .5s ease-in;
        color: white;
        font-weight: 400;
        &:hover {
          color: black;
        }
      }
    }
  }
}

.title {
  position: absolute;
  @include full-center;
  width: 100%;
  text-align: center;
  color: white;
}

.contact {
  display: none;
  a {
    color: white;
  }
}

.social {
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  right: 55px;
  img {
    height: 26px;
    width: 26px;
    margin: 10px;
  }
}

.down-arrow {
  display: none;
  position: absolute;
  @include horizontal-center;
  bottom: 40px;
  height: 50px;
  width: 70px;
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
  img {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 50px;
  }
}

@media screen and (max-width: 800px) {
  .landing {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 400px) {
  .title h1 {
    font-size: 2em;
  }
  .title h3 {
    font-size: 1.1em;
  }
}
