.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: $black;
  // @include background-image("../img/splash.jpg");
  // &::before {
  //   @include filter-position;
  //   background: linear-gradient(to bottom, white, black);
  //   opacity: .7;
  //   }
  }

.nav {
  // position: fixed;
  opacity: .6;
  ul {
    list-style: none;
    li {
      float: left;
      padding: 20px 30px;
      color: white;
    }
  }
}

.title {
  position: absolute;
  @include full-center;
  width: 100%;
  text-align: center;
  color: white;
  img {
    height: 20px;
    width: auto;
  }
}

.contact {
  display: none;
}

.down-arrow img {
  position: absolute;
  @include horizontal-center;
  bottom: 5%;
  height: 50px;
}
