.show {
  display: block;
}

.hide {
  display: none;
}

.landing {
  height: 100vh;
  width: 100%;
  @include background-image("../img/about-imagine.jpg");
  -webkit-transform: translateZ(0);
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  &::before {
    @include filter-position;
    background: linear-gradient(to bottom, #dddddd, black);
    opacity: .6;
  }
}

.menu-burger {
  position: fixed;
  height: 50px;
  top: 20px;
  left: 20px;
  opacity: 1;
  z-index: 1;
  -webkit-transition: top .5s ease-in-out;
  -moz-transition: top .5s ease-in-out;
  transition: top .5s ease-in-out;
}

.menu {
  position: fixed;
  height: 100vh;
  width: 300px;
  max-width: 100%;
  min-width: 20%;
  background: white;
  z-index: 2;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: transform .6s;
  -moz-transition: transform .6s;
  transition: transform .6s;
  @media screen and (max-width: 450px) {
    width: 100%;
  }
  ul {
    height: 100%;
    li {
      position: relative;
      width: 100%;
      height: 25%;
      -webkit-transition: all .6s;
      -moz-transition: all .6s;
      transition: all .6s;
      &:hover {
        background-color: #333333;
      }
      &:hover > a {
        color: white;
      }
      a {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 24pt;
      }
      .menu-text {
        position: absolute;
        @include full-center;
      }
    }
  }
}

a.menu-close {
  display: none;
  position: absolute;
  top: 10px;
  right: -65px;
  margin: 10px;
  padding: 5px 10px 7px 10px;
  border-radius: 4px;
  background-color: #333333;
  color: #ffffff;
  font-weight: 400;
  cursor: pointer;
  z-index: 1;
  @media screen and (max-width: 650px) {
    top: auto;
    right: 10px;
    top: 0px;
  }
}

.show-menu {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.hide-menu {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-up {
  top: 20px;
}

.nav-down {
  top: -100px;
}

.nav {
  position: relative;
  ul {
    list-style: none;
    li {
      float: left;
      padding: 20px 30px;
      a {
        display: inline-block;
        -webkit-transition: color .5s ease-in;
        -moz-transition: color .5s ease-in;
        transition: color .5s ease-in;
        color: white;
        font-weight: 400;
        &:hover {
          color: black;
        }
      }
    }
  }
}

.title {
  position: absolute;
  @include full-center;
  width: 100%;
  text-align: center;
  color: white;
}

.contact {
  display: none;
  a {
    color: white;
  }
}

.social {
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  right: 55px;
  img {
    height: 26px;
    width: 26px;
    margin: 10px;
  }
}

.down-arrow {
  position: absolute;
  @include horizontal-center;
  bottom: 40px;
  height: 50px;
  width: 70px;
  a {
    display: block;
    height: 100%;
    width: 100%;
  }
  img {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 20px;
    opacity: .5;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    transition: opacity .5s;
    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 800px) {
  .landing {
    background-attachment: scroll;
  }
}
@media screen and (max-width: 400px) {
  .title h1 {
    font-size: 2em;
  }
  .title h3 {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 700px) {
  .landing {
    background-position: right;
  }
}
