.work-header {
  position: relative;
  height: 150px;
  background: #ffffff;
  img {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 80px;
    @media screen and (max-width: 720px) {
      height: 60px;
    }
    @media screen and (max-width: 440px) {
      height: 40px;
    }
    &:hover {
      cursor: default;
    }
  }
}

.project-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translateZ(0);
  -webkit-filter: grayscale(.5);
  filter: grayscale(.5);
  &::before {
    @include filter-position;
    background: $white;
    opacity: .2;
  }
}

.project-title {
  position: absolute;
  @include full-center;
  height: 470px;
  width: 75vw;
  -webkit-transition: left .8s ease-in-out, height .8s ease-in-out;
  transition: left .8s ease-in-out, height .8s ease-in-out;
  img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
  }
  svg {
    position: relative;
    margin: 35px auto;
    width: 100%;
  }
  a.more {
    position: absolute;
    @include horizontal-center;
    top: 425px;
    border-radius: 3px;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 20px;
    color: white;
    background: black;
  }
}

.spin {
  height: 300px;
  left: 75%;
  @media screen and (max-width: 650px) {
    height: 470px;
    left: 50%;
  }
}


.light {
  &::before {
    opacity: .4;
  }
}

.dark {
  a {
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .4);
  }
}

.info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 50%;
  background: white;
  display: none;
  @media screen and (max-width: 650px) {
    width: 100%;
  }
  a.close {
    position: absolute;
    top: 10px;
    right: -65px;
    margin: 10px;
    padding: 5px 10px 7px 10px;
    border-radius: 4px;
    background-color: white;
    color: #555555;
    font-weight: 400;
    cursor: pointer;
    z-index: 1;
    @media screen and (max-width: 650px) {
      top: auto;
      right: 10px;
      top: 0px;
    }
  }
}

.odd {
  left: 50%;
  a.close {
    right: auto;
    left: -65px;
  }
  @media screen and (max-width: 650px) {
    left: 0;
    a.close {
      top: 15px;
      left: auto;
      right: 20px;
    }
  }
}

.project-info {
  position: absolute;
  @include full-center;
  width: 90%;
  color: black;
}

.project-content {
  max-width: 550px;
  h2 {
    padding: 0;
    margin: 40px 10%;
    margin-top: 0px;
    font-size: 2em;
    width: 80%;
  }
  p {
    width: 80%;
    margin: 20px 10%;
    font-size: 1.3em;
    margin-bottom: 35px;
  }
  a {
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 35px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    width: 90%;
    margin: 5%;
  }
}

#character-generator {
  @include background-image("../img/tiamet.jpg");
}


#cold-brew  {
  @include background-image("../img/mate-with-text.png");
  .project-title a {
    color: #ffffff;
    background: #666666;
  }
  a.more {
    color: #ffffff;
    background-color: #cccccc;
  }
  a.close {
    color: white;
    background: black;
  }
}

#dark-sky {
    @include background-image("../img/dark-sky-hero-background.png");
    a.more {
      color: black;
      background: white;
    }
}
