.project-wrapper {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  .project {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    h2 {
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }
    .project-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      position: relative;
      padding: 15px;
      @media screen and (max-width: 600px) {
        flex-direction: column-reverse;
      }
      & > * {
        margin: 15px;
      }
      .project-text {
        flex: 1 35%;
        p {
          margin-bottom: 10px;
        }
      }
      .images-wrapper {
        position: relative;
        flex: 2 65%;
        overflow: visible;
        img {
          // position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          border: solid white 3px;
        }
      }
    }
  }
  &::before {
    @include filter-position;
    background: $white;
    filter: grayscale(.5) blur(4px);
    z-index: -2;
  }
  &::after {
    @include filter-position;
    opacity: .3;
    z-index: -1;
  }
}


// .project-info {
//   position: absolute;
//   top: 0;
//   left: 0;
//   right: 40%;
// }

// .project-image {
//
// }

#character-generator {
  color: white;
  a {
    color: white;
  }
  &::before {
    background: $black;
    @include background-image("../img/character-generator.png");
    filter:grayscale(.3) blur(4px);
  }
  &::after {
    background-image: linear-gradient(to bottom, #333333, #000000);
    opacity: .6;
  }
}

#cold-brew {
  color: black;
  a {
    color: black;
  }
  &::before {
    background: $black;
    @include background-image("../img/cold-brew-landing.png");
    filter:grayscale(.3) blur(4px);
  }
  &::after {
    background-image: linear-gradient(to bottom, #ffffff, #cccccc);
    opacity: .6;
  }
}

#dark-sky {
  color: white;
  a {
    color: white;
  }
  &::before {
    background: $black;
    @include background-image("../img/dark-sky-landing.png");
    filter:grayscale(.3) blur(4px);
  }
  &::after {
    background-image: linear-gradient(to bottom, #333333, #000000);
    opacity: .6;
  }
  #up-arrow {
    display: none;
  }
}
