.work-header {
  position: relative;
  height: 150px;
  background: #ffffff;
  img {
    position: absolute;
    bottom: 30px;
    right: 30px;
    height: 80px;
    @media screen and (max-width: 720px) {
      height: 60px;
    }
    @media screen and (max-width: 440px) {
      height: 40px;
    }
  }
}

.project-wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  -webkit-filter: grayscale(.1);
  filter: grayscale(.1);
  &::before {
    @include filter-position;
    background: $white;
    opacity: .2;
  }
}

.project-title {
  position: absolute;
  @include full-center;
  top: 50%;
  height: 470px;
  -webkit-transition: left .8s ease-in-out, height .8s ease-in-out, transform .8s ease-in-out;
  transition: left .8s ease-in-out, height .8s ease-in-out, transform .8s ease-in-out;
  img {
    position: absolute;
    @include horizontal-center;
    height: 300px;
    opacity: 1;
  }
  svg {
    position: absolute;
    @include horizontal-center;
    top: 320px;
    max-width: 75vw;
  }
  a {
    position: absolute;
    @include horizontal-center;
    top: 425px;
    border: 2px solid black;
    border-radius: 3px;
    font-size: 1.4em;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, .6);
  }
}

.spin {
  height: 300px;
  left: 75%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.light {
  &::before {
    opacity: .4;
  }
}

.dark {
  a {
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, .4);
  }
}

.info-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 50%;
  background: white;
  opacity: 1;
  display: none;
  @media screen and (max-width: 600px) {
    width: 100%;
  }
  a.close {
    position: absolute;
    top: 10px;
    right: -65px;
    margin: 10px;
    padding: 6px 10px;
    border: 2px solid #ffffff;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .6);
    color: #555555;
    font-weight: 400;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      top: auto;
      right: 10px;
      top: 0px;
    }
  }
}

.odd {
  left: 50%;
  a.close {
    right: auto;
    left: -65px;

  }
  .spin {
    left: 25%;
  }
}

.project-info {
  position: absolute;
  @include full-center;
  width: 90%;
  color: black;
}

.project-content {
  max-width: 550px;
  h2 {
    padding: 0;
    margin: 40px 10%;
    margin-top: 0px;
    font-size: 2em;
    width: 80%;
  }
  p {
    width: 80%;
    margin: 20px 10%;
    font-size: 1.3em;
    margin-bottom: 35px;
  }
  a {
    display: inline-block;
    margin-left: 10%;
    margin-bottom: 35px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
  img {
    width: 90%;
    margin: 5%;
  }
}

#character-generator {
    @include background-image("../img/tiamet.jpg");
}

#cold-brew  {
    @include background-image("../img/mate-with-text.png");
    // @include background-image("../img/just-mate-background-wide.png");
  .project-title a {
    border: 2px solid #aaaaaa;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .17);
  }
  a.more {
  }
}

#dark-sky {
    @include background-image("../img/dark-sky-hero-background.png");
}
