h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 2.8em;
  margin: 10px;
}

h2 {
  text-align: center;
  font-size: 1.8em;
  line-height: 1.2em;
  padding: 20px;
}

h3 {
  font-size: 1.3em;
  margin: 15px;
}

p {
  line-height: 1.3em;
}

li {

}

a {
  font-size: 1em;
}
