$background-color: white;
$border-color: #e7e7e7;
$dark: #222222;
$header-color: lighten($background-color, 10%);
$text-color: invert($background-color);
$subtle-text: #666666;
$standard: 'Open Sans', sans-serif;
$header: 'PT Sans Narrow', sans-serif;
