.content {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 60vh;
  width: 100%;
  padding: 20px;
  text-align: right;
  background: url("../img/run-forever.jpg") center center no-repeat;
  background-size: cover;
  h1 {
    padding-bottom: 10px;
    font-family: $header;
    font-size: 3.5em;
    color: $dark;
  }
  p {
    font-size: .9em;
  }
  .feature-buttons {
    a {
      position: relative;
      top: 40px;
      right: 0;
      background-color: $dark;
      border-radius: 5px;
      font-family: $header;
      color: white;
      text-decoration: none;
      &:first-child {
        @include padding(.8em 3em .8em 3em);
      }
      &:last-child {
        @include padding(.8em 1em .8em 1em);
      }
    }
  }
}
