/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Open Sans', serif; }

h1 {
  font-size: 2.8em;
  margin: 10px; }

h2 {
  font-size: 1.8em;
  line-height: 1.2em; }

h3 {
  font-size: 1.3em;
  margin: 15px; }

p {
  line-height: 1.3em; }

body {
  box-sizing: border-box;
  background-color: #ffffff;
  color: #181719; }
  body::-webkit-scrollbar {
    display: none; }

a {
  display: inline-block;
  text-decoration: none;
  color: #181719;
  transition: transform .2s ease-in-out; }

.expand:hover {
  transform: scale(1.15);
  color: #181719; }
.expand:visited {
  text-decoration: none; }

.container {
  margin: 0 auto; }

.static-elements {
  display: none; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/splash.jpg") center center no-repeat;
  background-size: cover;
  filter: grayscale(0.4); }
  .landing::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #ffffff, #333333);
    opacity: .6; }

.nav {
  position: relative;
  z-index: 1;
  opacity: .6; }
  .nav ul {
    list-style: none; }
    .nav ul li {
      float: left;
      padding: 20px 30px; }
      .nav ul li a {
        color: black; }

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white; }
  .title img {
    height: 20px;
    width: auto; }

.contact {
  display: none; }

.down-arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%; }
  .down-arrow a {
    height: 50px;
    width: 80px; }
  .down-arrow img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px; }

.project-wrapper {
  position: relative;
  height: 100vh;
  max-height: 100vh; }
  .project-wrapper .project {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    margin: 0 auto; }
    .project-wrapper .project h2 {
      margin: 0 auto;
      padding: 20px;
      text-align: center; }
    .project-wrapper .project .project-content {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: row;
      position: relative;
      padding: 15px; }
      @media screen and (max-width: 600px) {
        .project-wrapper .project .project-content {
          flex-direction: column-reverse; } }
      .project-wrapper .project .project-content > * {
        margin: 15px; }
      .project-wrapper .project .project-content .project-text {
        flex: 1 35%; }
        .project-wrapper .project .project-content .project-text p {
          margin-bottom: 10px; }
      .project-wrapper .project .project-content .image-link {
        flex: 2 65%; }
        .project-wrapper .project .project-content .image-link img {
          position: relative;
          z-index: 1;
          width: 100%;
          border: solid white 3px; }
  .project-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    filter: grayscale(0.5) blur(4px);
    z-index: -2; }
  .project-wrapper:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
    z-index: -1; }

#character-generator {
  color: white; }
  #character-generator a {
    color: white; }
  #character-generator::before {
    background: #181719;
    background-image: url("../img/character-generator.png");
    background-size: cover;
    filter: grayscale(0.3) blur(4px); }
  #character-generator:after {
    background-image: linear-gradient(to bottom, #333333, #000000);
    opacity: .6; }

.about {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  background-color: white;
  color: black; }

/*# sourceMappingURL=main.css.map */
