/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, h5, h6, p, li, a {
  font-family: 'Open Sans', sans-serif; }

h1 {
  font-size: 2.8em;
  margin: 10px; }

h2 {
  text-align: center;
  font-size: 1.8em;
  line-height: 1.2em;
  padding: 20px; }

h3 {
  font-size: 1.3em;
  margin: 15px; }

p {
  line-height: 1.3em; }

a {
  font-size: 1em; }

body {
  box-sizing: border-box;
  background-color: #ffffff;
  color: #181719;
  font-weight: 300; }
  body::-webkit-scrollbar {
    display: none; }

a {
  display: inline-block;
  text-decoration: none;
  color: #181719;
  transition: transform .2s ease-in-out, color .5s ease-in-out; }

.expand:hover {
  transform: scale(1.1);
  color: black; }
.expand:visited {
  text-decoration: none; }

.container {
  margin: 0 auto; }

.static-elements {
  display: none; }

.bold {
  font-weight: 400; }

.bolder {
  font-weight: 600; }

.show {
  display: block; }

.hide {
  display: none; }

.landing {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url("../img/about-imagine.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  filter: grayscale(0.5); }
  .landing::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #ffffff, #000000);
    opacity: .65; }

.nav {
  position: relative;
  z-index: 1; }
  .nav ul {
    list-style: none; }
    .nav ul li {
      float: left;
      padding: 20px 30px; }
      .nav ul li a {
        color: black;
        font-weight: 400; }

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white; }

.contact {
  display: none; }
  .contact a {
    color: white; }

.social {
  position: absolute;
  margin: 0 auto;
  bottom: 40px;
  right: 55px; }
  .social img {
    height: 26px;
    width: 26px;
    margin: 10px; }

.down-arrow {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 5%;
  z-index: 3; }
  .down-arrow a {
    height: 50px;
    width: 80px; }
  .down-arrow img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50px; }

h2.work-header {
  position: relative;
  height: 80px;
  background: #ffffff;
  color: black;
  text-align: center;
  line-height: 80px;
  font-size: 3em;
  font-weight: 300; }

.project-wrapper {
  position: relative;
  height: 100vh;
  max-height: 100vh; }

.info-wrapper {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10vh;
  width: 500px;
  background: white;
  opacity: .9;
  z-index: 1; }
  .info-wrapper .project-info {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    color: black;
    z-index: 2; }
    .info-wrapper .project-info h2 {
      padding: 0;
      margin: 40px 10%;
      font-size: 2em; }
    .info-wrapper .project-info p {
      width: 80%;
      margin: 20px 10%;
      font-size: 1.4em; }
    .info-wrapper .project-info a {
      font-family: 'Open Sans', sans-serif;
      font-size: 1.5em;
      margin-left: 10%;
      margin-bottom: 40px; }
    .info-wrapper .project-info img {
      width: 90%;
      margin: 5%; }

.project-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  filter: grayscale(0.4); }
  .project-image::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ffffff;
    opacity: .2; }
  .project-image::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3; }

.more .project-info {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 40%;
  color: black;
  background: white; }
.more .project-image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40%;
  right: 0; }

#character-generator .project-image {
  background: url("../img/character-generator.png") center center no-repeat;
  background-size: cover; }

.odd .info-wrapper {
  left: auto;
  right: 10%; }

#cold-brew .project-image {
  background: url("../img/cold-brew-landing.png") center center no-repeat;
  background-size: cover; }

#dark-sky .project-image {
  background: url("../img/dark-sky-landing.png") center center no-repeat;
  background-size: cover; }

.about-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #ffffff; }
  .about-wrapper .about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1100px;
    color: #000000; }

.text-left {
  float: left;
  margin-left: 50px;
  margin-right: 100px; }
  .text-left h3 {
    margin: 0;
    text-align: justify; }
  .text-left img {
    height: 100%;
    width: auto; }

.about-detail {
  position: relative;
  float: left;
  height: 100%;
  width: 550px;
  margin-top: 1.5em;
  overflow: visible; }
  .about-detail h4 {
    line-height: normal;
    font-size: 28pt;
    margin-bottom: 1.2em; }
  .about-detail .message-me {
    position: absolute;
    right: 200px;
    bottom: -40px;
    height: 60px;
    width: 170px;
    border: 2px solid #D89962;
    border-radius: 5px;
    font-size: 1.5em;
    line-height: 60px;
    text-align: center; }
  .about-detail #ethan-detail {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: white; }
    .about-detail #ethan-detail img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

#hey-im-ethan {
  line-height: 4.5em; }
  #hey-im-ethan:hover .ethan-detail {
    display: block; }

#web-developer {
  line-height: 3.2em; }

#portland-or {
  line-height: 2.8em; }

#web {
  font-size: 58pt; }

#pdx {
  font-size: 32pt; }

.font-xl {
  font-size: 80pt; }

.font-lg {
  font-size: 64pt; }

.font-med {
  font-size: 50pt; }

.font-sm {
  font-size: 36pt; }

.font-xs {
  font-size: 26pt; }

/*# sourceMappingURL=main.css.map */
